<h2>Por País</h2>
<hr/>

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar( $event )"
      (onDebounce)="sugerencias( $event ) "
      placeholder="Buscar pais...">
    </app-pais-input>
  </div>
</div>

<hr/>

<div *ngIf="error" 
     class="alert alert-danger">
  No se encontró nada con el término {{ this.cadena }}
</div>

<div *ngIf="paises.length > 0" 
     class="row">
  <div class="col">
    <app-tabla
      [paises]="paises"
    ></app-tabla>
  </div>
</div>
